/*CSS reset settings here*/
*{ 
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px; 
    background-color: silver; padding:20px
    
    
   }
   #header{
    min-height: 150px;
    background-color: green; margin-bottom: 20px
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
   }
   #main_content{
    min-height: 400px;
    width: 725px; background-color: red; 
    display: inline-block; vertical-align: top;margin-left: 20px;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;margin: 20px -10px 20px 20px;
    display:inline-block;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple; float: right;margin-right:45px;
   }
   